# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Level 2 Term 2\CSE 216 Database Sessionals\Java Fx Login Video\Javafx-login-video\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
